<main
  class="mx-auto flex min-h-screen w-full items-center justify-center bg-neutral-900 text-white"
>
  <form (ngSubmit)="onSubmit()">
    <section
      class="flex w-[30rem] flex-col space-y-10 bg-neutral-900 p-7 rounded-lg"
    >
      <div class="text-center text-4xl font-semibold">
        Log<span class="text-blue-500">In</span> to your Account
      </div>

      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Email</label
        >
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Your email address"
          required=""
        />
      </div>

      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password</label
        >
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required=""
        />
      </div>

      <button
        class="transform rounded bg-blue-600 py-2 font-bold duration-300 hover:bg-blue-400"
      >
        LOG IN
      </button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

      <a
        href="#"
        class="transform text-center font-semibold text-gray-500 duration-300 hover:text-gray-300"
        >FORGOT PASSWORD?</a
      >

      <p class="text-center text-lg">
        Don't have an account?
        <a
          routerLink="/signup"
          class="font-medium text-blue-500 underline-offset-4 hover:underline"
          >Create One</a
        >
      </p>

      <div class="py-3" routerLink="/">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
            <button
              class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-4 h-4 inline-block align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
              <span class="inline-block ml-1">Back to home</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </form>
</main>
